@import "compass/css3/pie";
@import "compass/css3/images";
@import "logo/_size";

// Style logo block
// -------------------------
section#main-logo {
  background: $grayDarker;
  @include pie;
  @include background(
    linear-gradient(top, rgba($black, 0.8), rgba($black, 0.95)),
    image-url('/images/texture/honeycomb.png')
  );
  margin-bottom: 1em;
  div.cv-logo {
    color: $white;
  }
}

// Style Chosen Vale Logo
// -------------------------
div.cv-logo {
  @include logo-size(3.5em);
  @media (min-width: 1200px) {
    @include logo-size(4em);
  }
  @media (min-width: 980px) and (max-width: 1199px) {
    @include logo-size(3.2em);
  }
  @media (min-width: 768px) and (max-width: 979px) {
    @include logo-size(2.45em);
  }
  @media (min-width: 480px) and (max-width: 767px) {
    @include logo-size(1.45em);
  }
  @media (max-width: 479px) {
    @include logo-size(1em);
  }
  div.bars {
    font-style: bold;
    font-variant: small-caps;
    text-align: center;
    $red-line: 2px solid $cv-red;
    border-top: $red-line;
    border-bottom: $red-line;
    span.hl {
      color: $cv-red;
      font-style: italic;
      font-variant: normal;
      font-size: smaller;
    }
  }
  div.loc {
    text-align: right;
    font-style: italic;
    font-variant: normal;
    font-size: smaller;
  }
}
