// Theme-specific colors
// -------------------------
$cv-red:                #990012;
$moon-at-full:          #FEF9F0;


// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;


// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;


// Links
// -------------------------
$linkColor:             $cv-red;
$linkColorHover:        darken($linkColor, 15%) !default;


// Typography
// -------------------------
$serifFontFamily:       thryomanesnormal, Georgia, "Times New Roman", Times, serif;
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;
$baseFontFamily:        $serifFontFamily;
$baseFontSize:          15px;
$baseLineHeight:        21px;
// for compass
$base-font-size:        $baseFontSize;
$base-line-height:      $baseLineHeight;
$altFontFamily:         $sansFontFamily;


// Navbar
// -------------------------
$navbarHeight:                    60px;
$navbarInverseBackgroundHighlight:       $cv-red;
$navbarInverseBackground:                darken($navbarInverseBackgroundHighlight, 8%);
$navbarInverseBorder:                    darken($navbarInverseBackground, 12%);

$navbarInverseText:                      $white;
$navbarInverseLinkColor:                 $white !important;
$navbarInverseLinkColorHover:            $navbarInverseLinkColor;
$navbarInverseLinkColorActive:           $navbarInverseLinkColor;

