@import 'compass';
@import '_variables';
@import 'bootstrap'; // see https://github.com/thomas-mcdonald/bootstrap-sass

body {
  padding-top:    60px;
  padding-bottom: 40px;
}

.affix {
  position: fixed;
}

@import 'bootstrap-responsive';
@import 'nav';

