@import 'compass';
@import 'bootstrap'; // see https://github.com/thomas-mcdonald/bootstrap-sass

body {
  padding-top:    60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding:        9px 0;
}

@import 'bootstrap-responsive';
