- field = "partials/application/field"

== partial field, locals: {name: "full_name", id: "name", label: "Full Name", description: "As it appears on your Federal ID or Passport."}
== partial field, locals: {name: "date_of_birth", id: "birthday", label: "Date of Birth", placeholder: "mm/dd/yyyy"}
== partial field, locals: {name: "_replyto", id: "email", type: "email", label: "Email Address", description: "No spam, we promise."}
== partial field, locals: {name: "telephone_number", id: "telephone", label: "Telephone Number", description: "You will be contacted at this number to finalize your application."}
== partial field, locals: {name: "current_address", id: "current_address", type: "textarea", label: "Current Address"}
== partial field, locals: {name: "permanent_address", id: "permanent_address", type: "textarea", label: "Permanent Address"}
== partial field, locals: {name: "professional_position", id: "position", label: "Professional Position"}
== partial field, locals: {name: "education", id: "education", type: "textarea", label: "Education"}
== partial field, locals: {name: "principal_teachers", id: "teachers", label: "Principal Teachers"}
== partial field, locals: {name: "performance_experience", id: "experience", type: "textarea", label: "Performance Experience"}
== partial field, locals: {name: "additional_comments", id: "comments", type: "textarea", label: "Additional Comments"}
