- text_field = "partials/application/text_field"

== partial text_field, locals: {id: "name", label: "Full Name", placeholder: "Frank Sinatra", description: "As it appears on your Federal ID or Passport."}
== partial text_field, locals: {id: "birthday", label: "Date of Birth", placeholder: "mm/dd/yyyy", description: "This is pretty personal, why do we need it?"}
== partial text_field, locals: {id: "email", type: "email", label: "Email Address", placeholder: "frank@example.com", description: "No spam, we promise."}
== partial text_field, locals: {id: "telephone", label: "Telephone Number", placeholder: "+1-555-123-1234", description: "You will be contacted at this number to finalize your application."}
== partial text_field, locals: {id: "current_address", type: "textarea", label: "Current Address", placeholder: "447 New Hampshire 4A, Enfield, NH 03748, United States"}
== partial text_field, locals: {id: "permanent_address", type: "textarea", label: "Permanent Address", placeholder: "35-12 35th Avenue, Astoria, New York, 11106, United States"}
== partial text_field, locals: {id: "position", label: "Professional Position", placeholder: "Student at CalArts"}
== partial text_field, locals: {id: "education", type: "textarea", label: "Education"}
== partial text_field, locals: {id: "teachers", label: "Principal Teachers"}
== partial text_field, locals: {id: "experience", type: "textarea", label: "Performance Experience"}
== partial text_field, locals: {id: "comments", type: "textarea", label: "Additional Comments"}
