- field = "partials/application/field"

== partial field, locals: {name: "payment", id: "payment", type: "checkbox", label: "I acknowledge that an <a href='/admission.html#fees'>application fee</a> of $50.00 USD is due, and agree to be contacted at the telephone number provided to arrange payment."}
== partial field, locals: {name: "deposit", id: "deposit", type: "checkbox", label: "I intend to provide a <a href='/admission.html#fees'>confirmation deposit</a> of $600.00 USD if I am accepted."}
