// Set adjusted logo spacing
// -------------------------
@mixin logo-size($font-size) {
  $margin-size: ($font-size / 2.9);
  $line-height: if($font-size < 2em, $font-size, $margin-size);
  
  font-size: $font-size;
  margin: $margin-size 0 $margin-size 0;
  line-height: $line-height;
}
