header class="hero-unit"
  div class="container"
    h1 Admission
    p class="lead"
      | When you're ready, 
      a href="/application.html" target="_blank" apply online
      | .
    .subnav.hidden-phone
      ul class="nav nav-pills"
        == partial "partials/admission/subnav"
    .mobile-subnav.visible-phone
      ul class="nav nav-list"
        == partial "partials/admission/subnav"

section id="participants"
  div class="container"
    h1 Global Participation
    div class="row"
      div class="span12"
        ul class="thumbnails"
          li class="span5"
            div class="content"
              h4 Over the past 10 years participants have joined us from:
              p Australia, Austria, Belgium, Brazil, Canada, China, Colombia, Croatia, Denmark, England, Finland, France, Germany, Holland, Iceland, Italy, Japan, South Korea, Malaysia, Peru, Spain, Sweden, Thailand, Turkey, Ukraine, the United States, and Uruguay.
          li class="span5"
            div class="thumbnail"
              == image_tag "support/global-1.jpg"
          li class="span2"
            div class="thumbnail"
              == image_tag "support/global-7.jpg"
          li class="span2"
            div class="thumbnail"
              == image_tag "support/global-2.jpg"
          li class="span4"
            div class="thumbnail"
              == image_tag "support/global-3.jpg"
          li class="span4"
            div class="thumbnail"
              == image_tag "support/global-4.jpg"
          li class="span4"
            div class="thumbnail"
              == image_tag "support/global-5.jpg"
          

section id="fees"
  div class="container"
    h1 Fees
    table class="table table-bordered table-striped fee-breakdown"
      thead
        tr
          th colspan="3" 
            ' Seminar Costs
            span class="badge badge-inverse"
              | $2300 USD
      tbody
        tr
          td Application Fee
          td $50.00 USD
          td Non-refundable, due with application
        tr
          td Confirmation Deposit 
          td $600.00 USD
          td Non-refundable, due upon acceptance
        tr
          td Tuition
          td $1650.00 USD
          td Due 30 days prior to seminar
      thead
        tr
          th colspan="3" 
            ' Early Decision Seminar Costs
            span class="badge badge-inverse"
              | $2100 USD
      tbody
        tr
          td Application Fee
          td $50.00 USD
          td Non-refundable, due with application
        tr
          td Confirmation Deposit 
          td $600.00 USD
          td Non-refundable, due upon acceptance
        tr
          td Reduced Tuition
          td $1450.00 USD
          td Only applicable if received before January 1st, 2017
      thead
        tr
          th colspan="3" 
    p Applicants are responsible for all travel, medical, and insurance expenses. 

section id="deadlines"
  div class="container"
    h1 Deadlines
    h3
      ' There are
      a href="#" rel="tooltip" data-placement="top" data-original-title="Applications and letters of recommendation will be accepted until each seminar is fully enrolled." 
        ' no application deadlines
      | for our seminars.
    p Only the first 40 accepted applicants will be enrolled. Others will be added to the waitlist.
    h3 The deadline for the Colin Currie Percussion Scholarship is February 1st, 2017.


section id="references"
  div class="container"
    h1 References & Letters of Recommendation
    div class="row"
      div class="span6"
        p 
          br
          ' All applicants must provide two letters of recommendation from a
          a href="#" rel="tooltip" data-placement="right" data-original-title="Internationally or nationally known musician or teacher."
            ' qualified
          | individual to be considered.
        h4 Send references to:
        div class="vcard"
          div class="fn org url"
            | The Center for Advanced Musical Studies
          div class="adr"
            div class="street-address" P.O. Box 108
            span class="locality" Hanover
            ' ,
            abbr class="region" title="New Hampshire" NH
            '
            span class="postal-code" 03755
            div class="country-name" United States of America
          div
            | Email: 
            a class="email" href="mailto:admissions@chosenvale.org"
              | admissions@chosenvale.org
      div class="span6"
        p
          br
          | Those applying for financial aid or scholarship consideration must also include any additional required material with their application. 
        div class="row"
          div class="alert alert-block span5"
            a class="close" data-dismiss="alert" href="#" ×
            h4 Attention!
            p Please read all application information carefully to ensure your application form is complete.


section id="financialaid"
  div class="container"
    h1 Scholarships &amp; Financial Aid
    div class="row"
      div class="span6"
        h3 Tuition Assistance
        p The Center for Advanced Musical Studies presents a unique educational experience and fantastic accommodations at what we believe to be a very low cost. Nevertheless, we recognize that some qualified individuals will be unable to attend our seminars without some sort of assistance. 
        p Applicants who wish to apply for financial aid must include the following with their application:
        ul
          li
            | two letters of recommendation
      div class="span6"
        h3 Colin Currie Percussion Scholarship
        p A $1000 scholarship provided by faculty member Colin Currie for a student demonstrating:
        ul
          li exceptional talent as a percussionist
          li potential as a leader in the field of percussion
        p Applicants who wish to apply for the Colin Currie percussion scholarship must include the following with their application:
        ul
          li
            ' a link to a video performance of
            a href="#" rel="tooltip" data-placement="left" data-original-title="Mallet, multiple percussion, timpani, or other percussion instrument."
              ' two solos
            | posted to Youtube or Vimeo
          li
            ' a 500-word
            a href="#" rel="tooltip" data-placement="bottom" data-original-title="Plans and goals for development at Chosen Vale; how this seminar will impact your growth as a future leader."
              | statement of purpose
            | .



section id="acceptance"
  div class="container"
    h1 Notification of Acceptance
    h3
      ' Applicants will
      a href="#" rel="tooltip" data-placement="bottom" data-original-title="by e-mail/phone"
        ' be notified
      | of their status within 10 days of receipt of their application.
    div class="row"
      div class="alert alert-block span8"
        strong 
          ' Accepted
        ' applicants must submit a
        strong 
          'tuition deposit
        | to claim their position. 
    p 
      | Forty participants will be enrolled in each seminar.
    p
      | Some applicants may be placed on a waitlist. 
    p
      | Tuition deposits will be refunded to those who are waitlisted but not offered a place on the seminar.
