---
title: Application Complete - Chosen Vale (Center for Advanced Musical Studies)
---

header class="hero-unit"
  div class="container"
    h3 Thank You
    p The Center for Advanced Musical Studies has received your application.



section#address
  .container
    .row
      .span6
        h3 Disclaimer
        p The Center for Advanced Musical Studies accepts participants from every culture and does not discriminate on the basis of race, color, religion, creed, national or ethnic origin, sex, or physical disability in providing its seminars and performances.
      .span6
        .alert.alert-info
          h4 Send money orders/checks and references to:
          p 
            | The Center for Advanced Musical Studies
            br
            | P.O. Box 108
            br
            | Hanover, NH 03755
            br
            | United States of America

