header class="hero-unit"
  div class="container"
    h1 Concerts

    p class="lead"
      ' Attend a
      a href="#schedule" public concert
      | .

    div class="subnav"
      ul class="nav nav-pills"
        li
          a href="#schedule" Upcoming
        li
          a href="#video" Video
        li
          a href="#archive" Archive

section id="schedule"
  div class="container"
    h1 Schedule
    p = lorem.paragraph
    p = lorem.paragraph
    h2 = lorem.sentence
    p = lorem.paragraph
    h3 = lorem.sentence
    p = lorem.paragraph
    h4 = lorem.sentence
    p = lorem.paragraph
    h5 = lorem.sentence
    p = lorem.paragraph
    h6 = lorem.sentence
    p = lorem.paragraph

section id="video"
  div class="container"
    h1 Video
    p = lorem.paragraph
    p = lorem.paragraph
    h2 = lorem.sentence
    p = lorem.paragraph
    h3 = lorem.sentence
    p = lorem.paragraph
    h4 = lorem.sentence
    p = lorem.paragraph

section id="archive"
  div class="container"
    h1 Archive
    p = lorem.paragraph
    p = lorem.paragraph
    h2 = lorem.sentence
    p = lorem.paragraph
    h3 = lorem.sentence
    p = lorem.paragraph
    h4 = lorem.sentence
    p = lorem.paragraph
