---
title: Contact - Chosen Vale (Center for Advanced Musical Studies)
---

header class="hero-unit"
  div class="container"
    h1 Contact

    p class="lead"
      | The Center for Advanced Musical Studies at Chosen Vale



section id="contact-us"
  div class="container"
    div class="row"
      .span9
        .typeform-widget data-text="Contact" data-url="https://chosenvale.typeform.com/to/Q1oLSD" style="width:100%;height:500px;" 
        javascript:
          (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
      .span3
        .well
          p Mailing address:
          div class="vcard"
            div class="fn org"
              strong The Center for Advanced Musical Studies
            em Edward Carroll, director
            div class="adr"
              div class="street-address" P.O. Box 108
              span class="locality" Hanover
              ' ,
              abbr class="region" title="New Hampshire" NH
              '
              span class="postal-code" 03755
              div class="country-name" United States of America



section id="map"
  div class="container"
    div class="row"
      .span12
        h1 Seminar Location
        iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?ie=UTF8&amp;cid=5579503798933332171&amp;q=Enfield+Shaker+Museum&amp;gl=CA&amp;hl=en&amp;t=p&amp;iwloc=A&amp;ll=43.624000,-72.147025&amp;spn=0.006295,0.006295&amp;output=embed"
        br
        small
          a href="https://maps.google.ca/maps?ie=UTF8&amp;cid=5579503798933332171&amp;q=Enfield+Shaker+Museum&amp;gl=CA&amp;hl=en&amp;t=m&amp;iwloc=A&amp;ll=43.619434,-72.147025&amp;spn=0.006295,0.006295&amp;source=embed" style="color:#0000FF;text-align:left" View Larger Map
