---
title: Home - Chosen Vale | Center for Advanced Musical Studies
---

section#main-logo
  .container
    .row
      .span12
        .cv-logo
          .workaround
            == image_tag 'logo/vectored.png'
          .hidden
            .bars
              ' the Center 
              span.hl
                ' for 
              | Advanced Musical Studies
            .loc
              | at Chosen Vale

section#carousel
  div class="container"
    .row
      .span8
        div id="main-carousel" class="carousel slide"
          div class="carousel-inner"
            div class="active item"
              == image_tag 'images/support/banner-2.jpg'
              div class="carousel-caption"
                h4 Total Immersion
                p In a supportive environment of honesty, creativity, and an obsessive love for music making.
            div class="item"
              == image_tag 'images/support/banner-7.jpg'
              div class="carousel-caption"
                h4 International Faculty
                p Work alongside internationally renowned faculty members and guest artists.
            div class="item"
              == image_tag 'images/support/banner-1.jpg'
              div class="carousel-caption"
                h4 Trumpet Seminar
                p June 17 through June 29, 2019
            div class="item"
              == image_tag 'images/support/banner-4.jpg'
              div class="carousel-caption"
                h4 Percussion Seminar
                p July 1 through July 13, 2019
            div class="item"
              == image_tag 'images/support/banner-5.jpg'
              div class="carousel-caption"
                h4 Performances
                p Participants are challenged to take chances and grow in unexpected musical ways. 
            div class="item"
              == image_tag 'images/support/banner-6.jpg'
              div class="carousel-caption"
                h4 Apply Now
                p Seminars fill quickly with only 40 spots available.
            div class="item"
              == image_tag 'images/support/banner-3.jpg'
              div class="carousel-caption"
                h4 Colin Currie Percussion Scholarship
            div class="item"
              == image_tag 'images/support/banner-8.jpg'
          a class="carousel-control left" href="#main-carousel" data-slide="prev" &lsaquo;
          a class="carousel-control right" href="#main-carousel" data-slide="next" &rsaquo;
      .span4
        ul id="main-carousel-control"
          li
            a class="slide-1 control" href="/seminars.html" Total Immersion
          li
            a class="slide-2 control" href="/seminars.html" International Faculty
          li
            a class="slide-3 control" href="/seminars.html" Trumpet Seminar
          li
            a class="slide-4 control" href="/seminars.html" Percussion Seminar
          li
            a class="slide-5 control" href="/performances.html" Performances
          li
            a class="slide-6 control" href="/seminars.html" Apply Now
          li
            a class="slide-7 control" href="/admission.html" Currie Percussion Scholarship
      .span12
        ul.thumbnails
          li.span12
            a#director-quote.thumbnail data-toggle="modal" href="#message-from-director"
              blockquote 
                ' “The speed and accessibility of information today has blurred the line between those who seek to innovate and those who simply co-opt, resulting in difficulty in being able to distinguish original ideas from a multitudes of facsimiles”
              .cite ~ Edward Carroll, Director
        div#message-from-director.modal.hide
          .modal-header
            button.close type="button" data-dismiss="modal" ×
            h3 Message from the Director
          .modal-body
            == partial "partials/index/directors_message"
          .modal-footer
            button.btn.btn-primary data-dismiss="modal" Close

        javascript:
          $('#main-carousel').carousel('cycle');
          $('#main-carousel-control a.slide-1').mouseenter(function() {
            $('#main-carousel').carousel('pause');
            $('#main-carousel').carousel(0);
          });
          $('#main-carousel-control a.slide-2').mouseenter(function() {
            $('#main-carousel').carousel('pause');
            $('#main-carousel').carousel(1);
          });
          $('#main-carousel-control a.slide-3').mouseenter(function() {
            $('#main-carousel').carousel('pause');
            $('#main-carousel').carousel(2);
          });
          $('#main-carousel-control a.slide-4').mouseenter(function() {
            $('#main-carousel').carousel('pause');
            $('#main-carousel').carousel(3);
          });
          $('#main-carousel-control a.slide-5').mouseenter(function() {
            $('#main-carousel').carousel('pause');
            $('#main-carousel').carousel(4);
          });
          $('#main-carousel-control a.slide-6').mouseenter(function() {
            $('#main-carousel').carousel('pause');
            $('#main-carousel').carousel(5);
          });
          $('#main-carousel-control a.slide-7').mouseenter(function() {
            $('#main-carousel').carousel('pause');
            $('#main-carousel').carousel(6);
          });

section#featured
  .container
    .row
      .span6
        .well
          p The Center for Advanced Musical Studies is a place for talented musicians who share the mutual goals of exploring their personal voice and expanding their artistic capacities.
          
          p Rapid changes are sweeping the musical landscape; New and emerging musics, free as well as traditional improvisation, non-conventional ensembles, and new technologies/media are joining our concert stages at a dizzying rate. Many of our greatest artists are searching for new ways to re-interpret and present the acknowledged masterpieces of western music as well as experiencing new-found stimulation by collaborating with composers, composing themselves, and playing the music of their friends.

          p Most that are currently studying music are familiar with the large-scale cultural shifts, migration, and evolution of the musical marketplace taking place over the last decade, but simply don’t know what to do about them nor how to respond. They are ready to jump into something bound with hope.
      iframe.span6 allow=("accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture") allowfullscreen="" frameborder="0" height="315" src="https://www.youtube-nocookie.com/embed/ZWD9mDUocTQ" width="560" 

