header class="hero-unit"
  div class="container"
    h1 Performances

    p class="lead"
      ' Attend a
      a href="#schedule" public concert
      | .

    div class="subnav"
      ul class="nav nav-pills"
        li
          a href="#trumpet-schedule" Trumpet Seminar
        li
          a href="#percussion-schedule" Percussion Seminar
        li
          a href="#video" Video

section id="trumpet-schedule"
  div class="container"
    h1 The Chosen Vale International Trumpet Seminar, 2018
    h3 All concerts to be held at the Mary Keene Chapel. Enfield, NH

    h2 Schedule TBC

section id="percussion-schedule"
  div class="container"
    h1 The Chosen Vale International Percussion Seminar, 2018
    h3 All concerts to be held at the Mary Keene Chapel. Enfield, NH

    h2 Schedule TBC

section id="video"
  div class="container"
    h1 Video
    .row
      .span6
        .player
          .embed
          .details
            h4 class="title"
            p class="description"
      .related.span6
        ul.thumbnails
    h2
      ' more
      a href="http://www.youtube.com/user/ChosenVale" trumpet videos
      ' &nbsp;and
      a href="http://vimeo.com/user20124358" percussion videos

